# --- UFiT Test Configuration ---

# Global Settings
RUN_UFIT=ON
RUN_TESTHUB=ON
GENERATE_GTEST_REPORT=ON

# Profiling & Analysis
VALGRIND_MEMCHECK=OFF
VALGRIND_CALLGRIND=OFF
VALGRIND_MASSIF=OFF

# Compiler & Coverage
GENERATE_GCOV=OFF

# Visualization & Diagrams
PLOT_DIAGRAMS=OFF

# Software Version Logging
LOG_VERSIONS=OFF